certifi==2020.11.8
chardet==3.0.4
clearbit==0.1.7
google-search-results==2.0.0
idna==2.9
numpy==1.18.3
pandas==1.0.3
python-dateutil==2.8.1
validators==0.18.1
pyhunter==1.7
pytz==2020.4
requests==2.24.0
six==1.14.0
tldextract==3.0.2
urllib3==1.25.9
